<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入外部配置文件 -->
    <properties resource="db.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${testenv.driver}" />
                <property name="url"
                          value="${testenv.url}" />
                <property name="username" value="${testenv.username}" />
                <property name="password" value="${testenv.password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- xml在resources内 -->
        <mapper resource="mapper/StationMapper.xml" />
        <mapper resource="mapper/TimeMapper.xml" />
    </mappers>

</configuration>